<%= t('activerecord.helpers.business_hour.update') %>

<%= form_with model: [@establishment, @business_hour], data: { turbo: false} do |f|%>
  <%= f.hidden_field :day_of_week, value: f.object.day_of_week %>
  <%= f.hidden_field :status, value: 'opened' %>

  <%= t("activerecord.attributes.business_hour.status.#{f.object.status}") %>

  <% if f.object.status == 'opened'%>
    <div>
      <%=
        t('activerecord.helpers.business_hour.current_day_schedule',
        open_time: f.object.open_time.strftime("%H:%M"),
        close_time: f.object.close_time.strftime("%H:%M"))
      %>
    </div>

    <%= f.hidden_field :day_of_week, value: f.object.day_of_week %>
    <%= f.hidden_field :open_time, value: '' %>
    <%= f.hidden_field :close_time, value: '' %>
    <%= f.hidden_field :status, value: 'closed' %>

    <%= f.submit t('activerecord.helpers.business_hour.set_as_closed') %>
  <% end %>

  <div>
    <%= f.label :open_time %>
    <%= f.time_field :open_time, value: '' %>

    <%= f.label :close_time %>
    <%= f.time_field :close_time, value: '' %>
  </div>

  <%= link_to t('helpers.cancel'), establishment_business_hours_path(@establishment) %>
  <%= f.submit %>
<% end %>
